
<div id="image_carousel" class="carousel slide my-3" data-ride="carousel">
    
    <ol class="carousel-indicators" id="image_carousel_indicators">
        <%- @images.take(10).each_with_index do |_, index| -%>
        <li class="<%= index == 0 ? 'active' : nil %>" data-slide-to="<%=index%>" data-target="#image_carousel"> </li>
        <%- end -%>
    </ol>
    
    <div class="carousel-inner" id="image_carousel_inner">
        
        <%- @images.take(10).each_with_index do |image, index| %>
        <div class="carousel-item <%= index == 0 ? 'active' : nil %>"
            id="<%= File.basename(image) %>">
            <img class="d-block w-100" src="/pun/sys/dashboard/files/fs<%= image %>">
        </div>
        <%- end -%>
    
        <a class="carousel-control-prev" href="#image_carousel" 
        role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        
        </a>
    
        <a class="carousel-control-next" href="#image_carousel" 
        role="button" data-slide="next">
            <span class="carousel-control-next-icon"></span>
            <span class="sr-only">Next</span>
        
        </a>
    </div>
</div>

<h2 class="my-2">Render Frames</h2>

<form method="post" action="<%= url('/render/frames') %>">
    
    <div class="row">
        <div class="form-group col-6">
            <label for="account">Account</label>
            <select name="account" class="form-control">
                
                <%- accounts.each do |account| -%>
                <option><%= account %></option>
                <%- end -%>
                
            </select>
        </div>
    
        <div class="form-group col-6">
            <label for="blend_file">Blend File</label>
            <select name="blend_file" class="form-control">
                
                <%- blend_files.each do |file| -%>
                <option value="<%= file %>"><%= File.basename(file) %></option>
                <%- end -%>
                
            </select>
        </div>
    
        <div class="form-group col-4">
            <label for="num_cpus">CPUs</label>
            <input class="form-control" name="num_cpus" type="number" min="4" max="48" value="4">
            <small class="form text text-muted">More CPUs means less rendering time.</small>
        </div>
        
        <div class="form-group col-4">
            <label for="frame_range">Frame Range</label>
            <input class="form-control" name="frame_range" type="text">
            <small class="form-text text-muted">Ex: "1..10" renders frames 1-10, "1,3,5" renders frames 1, 3 and 5...</small>
        </div>
    
        <div class="form-group col-4">
            <label for="walltime">Walltime</label>
            <input class="form-control" name="walltime" type="number" min="1" max="48" value="1">
            <small class="form-text text-muted">Hours the job will run</small>
        </div>
            
    </div>
    
    
    
    <input name="project_directory" type="hidden" value="<%= @directory %>">
    
    <button class="btn btn-primary float-right">Render Frames</button>
    
</form>

<div class="d-none" id="project_config" data-directory="<%= @directory %>"></div>

<h2 class="my-2">Render Video</h2>

<form method="post" action="<%= url('/render/video')%>">
    <div class="row">
        <div class="form-group col-3">
            <label for="account">Account</label>
            <select name="account" class="form-control">
                
                <%- accounts.each do |account| -%>
                <option><%= account %></option>
                <%- end -%>
                
            </select>
        </div>
        
        <div class="form-group col-3">
            <label for="frames_per_second">Frames per second</label>
            <input name="frames_per_second" min="10" max="60">
        </div>
        
        <div class="form-group col-3">
            <label for="num_cpus">CPUs</label>
            <input class="form-control" type="number" min="1" max="48" value="1" name="num_cpus">
        </div>
        
        <div class="form-group col-3">
            <label for="walltime">Hours</label>
            <input class="form-control" type="number" min="1" max="24" value="1" name="walltime">
        </div>
        
        <input type="hidden" name="project_directory" value="<%= @directory %>">
    
        
    </div>
    <button class="btn btn-primary float-right">Render Video</button>
</form>